body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: rgb(185, 101, 73);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 10px;
  background-color: var(--color-primary);
  box-sizing: border-box;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: 600;
}

.main-content {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  width: 80%;
  justify-content: center;
  margin: auto;
}

.leftside {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;

}

.new-btn {
  position: sticky;
  top: 20px;
  width: 200px;
  height: 30px;
  background-color: rgb(222, 89, 7);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
}

.posts {
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
}

.post-item {
  margin: 10px 0px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.user-header {
  background-color: rgb(221, 221, 221);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post-title {
  font-size: 19px;
  font-weight: 600;
  display: flex;
}

.post-body {
  font-size: 14px;
  color: rgb(110, 110, 110);
  width: 700px;
}

.post-form.show {
  display: grid;
}

.post-form.hide {
  display: none;
}

.post-form {
  width: 700px;
  position: fixed;
  background-color: white;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 10px;
  border: 3px solid rgb(235, 80, 42);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.246);
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;

  .title-input {
    font-size: 20px;
    margin: 10px 0px;
  }

  input,
  textarea {
    width: 100%;
    outline: none;
    border: none;
  }

  textarea {
    box-sizing: border-box;
    max-height: 100px;
    resize: none;
  }
}

.form-control {
  height: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;

  .control-btn {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.post-btns {
  display: flex;
  justify-content: end;
}

.submit-btn {
  width: 100px;
  height: 30px;
  background-color: rgb(222, 89, 7);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
}